.header {
    width: 100%;
    display: flex;
  }
  
  .my-photo {
    letter-spacing: 3px;
    vertical-align: top;
    border-radius: 70px;
    border-bottom: 10px solid black;
    background-color: beige;
  }
  
  .section-studies {
  }

  .my-photo img {
    border-radius: 50%;
    width: 20%;
  }
  
  .header-content {
    margin: 20px;
    border-bottom: 2px solid black;
    letter-spacing: 3px;
    vertical-align: top;
    background-color: beige;
    border-radius: 20px;
    display: inline-block;
  }
  
  section {
    margin: 10px;
  }
  
  .section-header {
    cursor: pointer;
  }
  
  .experience,
  .studies {
    display: none;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }
  .laboral {
    letter-spacing: 3px;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: aquamarine;
    border-radius: 20px;
    border-bottom: 2px solid black;
  }
  .estudios {
    letter-spacing: 3px;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: antiquewhite;
    border-radius: 20px;
  }

  .contacto {
    letter-spacing: 3px;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: antiquewhite;
    border-radius: 20px;
    border-bottom: 5px solid black;
  }

  .box3 {
    width: 100%;
    height: 100px;
    background-color: rgb(245, 245, 247);
    text-indent: 70px;
    display: inline-block;
    border-bottom: solid;
}