.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: normal;
    color: white;
    background-color: rgb(0, 113, 227);
    border-radius: 15px;
}

    .padding1{  
        width: 700px;
        height: 120px;
        display: inline-block;
        
    }

    .boton_2{
        text-decoration: none;
        padding: 3px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
        font-style: normal;
        color: white;
        background-color: rgb(0, 113, 227);
        border-radius: 15px;
    }
    
    .box1 {
        vertical-align: top;
        width: 500px;
        height: 500px;
        background-color: rgb(242, 242, 242);
        display: inline-block;
    }
    .imagen1{
        width: 100%;
        height: 50%;
      }
      .imagen2{
        width: 100%;
        height: 42%;
      }
    .box2 {
        width: 500px;
        height: 500px;
        background-color: rgb(242, 242, 242);
        display: inline-block;
    }
    .box3 {
        width: 100%;
        height: 80px;
        background-color: rgb(245, 245, 247);
        text-indent: 70px;
        display: inline-block;
    }
    .box0 > div {
        display: inline-block;
        width: 10%;
        height: 35px;
        padding-top: 1%;
        color: white;
        text-align:center;
        background: rgba(0, 0, 0, 0.8);
      }

      .imagen32{
        width: 40%;
        height: 40%;
      }